// removing annoying yellow background
input {
  border: 0;
  font-family: $mainfont;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px $color-white inset;
}

.form {
  width: 100%;
}

.formField {
  &-input {
    display: flex;
    border-bottom: solid 1px $color-positive-lighter;
    transition: all $fastest ease;
    &.active {
      .input label {
        top: 0;
      }
    }

    &.focus {
      border-color: $color-focus;

      .input input {
        color: $color-main;
      }
    }

    &.disabled {
      border-bottom: dotted 1px $color-positive-lighter;
      .input input {
        color: $color-positive-lighter;
        cursor: not-allowed;
      }
    }

    .input {
      flex: 1 1 100%;
      position: relative;
  
      label {
        color: $color-positive-light;
        font-size: $font-size-xs;
        line-height: 16px;
        pointer-events: none;
        position: absolute;
        top: $spacing*2;
        right: 0;
        left: 0;
        transition: all $fastest ease;
      }

      input {
        background-color: transparent;
        padding: $spacing*2 0 $spacing;
        width: 100%;
        font-size: $font-size-s;
        line-height: 16px;
      }
    }
  }
}
